{:kotoba.app/id "cloud.itonami.isic-7210", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihiyqpki7xwy2shck5eqbtiecm42zc6v5opmqc2qvyozpo2qiafia", :kotoba.app/embed-url "ipfs://bafkreihiyqpki7xwy2shck5eqbtiecm42zc6v5opmqc2qvyozpo2qiafia", :published {:archive "https://kotobase.net/ipfs/bafkreihiyqpki7xwy2shck5eqbtiecm42zc6v5opmqc2qvyozpo2qiafia", :size 75672, :put-status 201, :get-status 200, :at "2026-08-15T13:51:09.041Z"}}
